node_modules
.env

# Hardhat compilation cache and contract JSON artifacts
/cache
/artifacts

# React build outputs exclusions
/build
/dist

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
